@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 80vh;
    position: relative;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;

}

nav {
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(58, 57, 57);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    cursor: pointer;
    background-color: rgba(248, 243, 243, 0.021);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
}

.btn-red-sm {
    background-color: red;
    color: white;
    font-weight: 400;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(231, 225, 225, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}


.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    width: 555px;
    position: absolute;
    top: 52px;
    right: 0;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox:hover {
    background-color: #414141;

}

/* .faqbox svg{
    filter:invert(1); it changes color to opposite color
} */
.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: #2d2d2d;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}

footer .question {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1100px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;

    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        max-width: 90vw;
    }
    .footer-item {
        align-items: center;
    }

}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}